@charset "UTF-8";

/* PALETA DE CORES */
:root {

    --cor0: #fff;
    --cor1: #000;
    --cor2: #f78b00;
    --cor3: #d57b05;
    --cor4: #ededed;
    --cor5: #737272;
    --cor6: #00285f;
    --cor7: #004bb1;

}

@media screen and (min-width: 500px) {
    
    /* INTRODUÇÃO DA PÁGINA */
    .introPagina__animesFavoritos {
        display: block;
        columns: 2;
    }

    .animesFavoritos__anime {
        margin-bottom: 0.5rem;
    }

}

@media screen and (min-width: 672px) {
    
    /* BOTÃO ABRIR E FECHAR MENU  */
    #btnMenu {
        display: none;
    }
    
    /* LISTA DE LINKS E BOTÃO ENTRAR */
    .navegacao__listaLinks {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: unset;
        padding: 0;
        background-color: transparent;
        transition: unset;
        gap: 0.8rem;
    }

    .listaLinks__item:nth-child(3) {
        margin-bottom: 0;
    }

    .listaLinks__item {
        box-shadow: unset;
    }

    .listaLinks__item a {
        padding: 0.7rem;
        position: relative;
    }

    .listaLinks__item a::after {
        content: '';
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: var(--cor6);
        left: 0;
        bottom: 0;
        transition: .5s ease-in-out;
        transform: scale(0);
    }

    .listaLinks__item a:hover {
        color: var(--cor6);
        background-color: transparent;
    }

    .listaLinks__item a:hover::after {
        transform: scale(1);
    }

    .listaLinks__botaoLogin button {
        padding: 0.7rem 2.1rem;
        font-size: 1em;
    }

    /* INTRO PÁGINA */
    .cabecalho__introPagina {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5rem 2.3rem;
        gap: 1.5rem;
    }

    .introPagina__animesFavoritos {
        margin-bottom: 0;
    }

    .animesFavoritos__anime {
        margin-bottom: 1rem;
    }

    .introPagina__imagem {
        margin: 0;
    }

    /* PESQUISA ANIME */
    .secaoCatalago__campoPesquisaAnime {
        padding: 2rem;
        height: 8.375rem;
    }

    .secaoCatalago__campoPesquisaAnime input {
        height: 3.3rem;
    }

    .secaoCatalago__campoPesquisaAnime button {
        max-width: 8rem;
        font-size: 1.1em;
    }

    /* HISTÓRIA DOS PERSONAGENS */
    .secaoPersonagens__historiaDosPersonagens {
        gap: 2rem;
    }

    .secaoPersonagens__historiaPersonagem {
        position: relative;
    }

    .secaoPersonagens__historiaPersonagem:nth-child(1)::after {
        width: 2px;
        position: absolute;
        right: -18px;
        height: 50%;
        top: 28%;
    }

    /* RODAPÉ */
    .rodape__listaCreditos {
        padding: 3rem 1rem 5rem 1rem;
    }

}