@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PALETA DE CORES */
:root {

    --cor0: #fff;
    --cor1: #000;
    --cor2: #f78b00;
    --cor3: #c36f01;
    --cor4: #ededed;
    --cor5: #737272;
    --cor6: #00285f;
    --cor7: #011c41;

}

/* CORPO */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor2);
    padding: 2rem 1rem 3rem 1rem;
    box-shadow: inset 1px -155px 0px white;
    width: 100%;
}

.cabecalho__navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.navegacao__logo {}

.navegacao__logo a {
    text-decoration: none;
    color: var(--cor1);
    font-size: 1.4em;
}

.navegacao__logo a strong {}

/* BOTÃO ABRIR E FECHAR MENU  */
#btnMenu {
    border: transparent;
    background-color: transparent;
}

.btnMenu__hamburguer {
    display: block;
    border-top: 3px solid var(--cor0);
    width: 2.1rem;
}

.btnMenu__hamburguer::before, .btnMenu__hamburguer::after {
    content: '';
    display: block;
    width: 2.1rem;
    height: 0.1875rem;
    background-color: var(--cor0);
    margin: 6px 0;
}

/* LISTA DE LINKS E BOTÃO ENTRAR */
.navegacao__listaLinks {
    display: none;
}

.listaLinks__item {}

.listaLinks__item a {}

.listaLinks__item .underline {}

.listaLinks__botaoLogin {}

/* INTRODUÇÃO DA PÁGINA */
.cabecalho__introPagina {
    background-color: var(--cor6);
    border-radius: 10px;
    box-shadow: 1px 0px 10px 0px rgb(0 0 0 / 50%);
    padding: 2.5rem 1.3rem;
    color: var(--cor0);
    position: relative;
}

.introPagina__descricao {}

.introPagina__descricao h2 {
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 1.5rem;
}

.introPagina__animesFavoritos {
    list-style-position: inside;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: '☆';
}

.animesFavoritos__anime {}

.introPagina__imagem {}

.introPagina__imagem img {
    max-width: 25rem;
    width: 100%;
}

/* CONTEÚDO */
.conteudo {
    padding: 0 1rem;
}

/* SEÇÃO CATÁLAGO */
.secaoCatalago {}

.secaoCatalago h2 {
    color: var(--cor5);
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-size: 1.6em;
}

/* PESQUISA ANIME */
.secaoCatalago__campoPesquisaAnime {
    background-color: var(--cor4);
    padding: 1rem;
    border-radius: 5px;
    height: 5.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.campoPesquisaAnime__inputBox {
    display: flex;
    width: 100%;
}

.secaoCatalago__campoPesquisaAnime input {
    outline: none;
    height: 2.3rem;
    border: none;
    border-radius: 5px 0px 0px 5px;
    width: 85%;
    padding: 0 1rem;
}

.secaoCatalago__campoPesquisaAnime input::-webkit-calendar-picker-indicator {
    display: none;
}

.secaoCatalago__campoPesquisaAnime button {
    background-color: var(--cor6);
    border: none;
    border-radius: 0px 5px 5px 0px;
    max-width: 5.6rem;
    width: 100%;
    color: var(--cor0);
    font-weight: 500;
    font-size: 1em;
}

/* LISTA DE ANIMES */
.secaoCatalago__listaAnimes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.listaAnimes__anime {
    background-color: var(--cor4);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 0px 10px 0px rgb(0 0 0 / 20%);
}

.listaAnimes__anime img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;

}

.anime__descricaoAnime {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
}

.anime__descricaoAnime h2 {
    color: var(--cor1);
}

.anime__descricaoAnime p {
    color: var(--cor5);
    text-align: center;
    margin-bottom: 1.3rem;
    line-height: 1.5em;
}

.anime__descricaoAnime a {
    background-color: var(--cor6);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 0.7rem;
    text-decoration: none;
    color: var(--cor0);
    font-weight: 600;
    letter-spacing: 1px;
}

/* SEÇÃO PERSONAGENS */
.secaoPersonagens {}

.secaoPersonagens h2 {}

/* HISTÓRIA DOS PERSONAGENS */
.secaoPersonagens__historiaDosPersonagens {}

.secaoPersonagens__historiaPersonagem {}

/* PERSONAGEM */
.historiaPersonagem__personagem {}

.historiaPersonagem__personagem img {}

/* HISTÓRIA */
.historiaPersonagem__historia {}

.historiaPersonagem__historia h2 {}

.historiaPersonagem__historia p {}

.historiaPersonagem__historia p strong {}

/* RODAPÉ */
.rodape {}

.rodape__listaCreditos {}

.listaCreditos__credito {}

.listaCreditos__credito h3 {}

.listaCreditos__credito a {}

.listaCreditos__credito p {}

.credito__redesSociais {}

.credito__redesSociais a {}

.credito__redesSociais a img {
    width: 10px;
}

.rodape p {}

.rodape p a {}