@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PALETA DE CORES */
:root {

    --cor0: #fff;
    --cor1: #000;
    --cor2: #f78b00;
    --cor3: #c36f01;
    --cor4: #737272;
    --cor5: #00285f;
    --cor6: #011c41;

}

/* CORPO */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor2);
    padding: 2rem 1rem 3rem 1rem;
    height: 45rem;
}

.cabecalho__navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.navegacao__logo {}

.navegacao__logo a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}

.navegacao__logo a strong {}

/* BOTÃO ABRIR E FECHAR MENU  */
#btnMenu {
    border: transparent;
    background-color: transparent;
}

.btnMenu__hamburguer {
    display: block;
    border-top: 3px solid white;
    width: 2.1rem;
}

.btnMenu__hamburguer::before, .btnMenu__hamburguer::after {
    content: '';
    display: block;
    width: 2.1rem;
    height: 0.1875rem;
    background-color: white;
    margin: 6px 0;
}

/* LISTA DE LINKS E BOTÃO ENTRAR */
.navegacao__listaLinks {
    display: none;
}

.listaLinks__item {}

.listaLinks__item a {}

.listaLinks__item .underline {}

.listaLinks__botaoLogin {}

/* INTRODUÇÃO DA PÁGINA */
.cabecalho__introPagina {
    background-color: var(--cor5);
    border-radius: 10px;
    box-shadow: 1px 0px 10px 0px rgb(0 0 0 / 50%);
    padding: 2.5rem 1.3rem;
    color: var(--cor0);
    position: relative;
}

.introPagina__descricao {}

.introPagina__descricao h2 {
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 1.5rem;
}

.introPagina__animesFavoritos {
    list-style-position: inside;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: '☆';
}

.animesFavoritos__anime {}

.introPagina__imagem {}

.introPagina__imagem img {
    width: 100%;
}

/* CONTEÚDO */
.conteudo {}

/* SEÇÃO CATÁLAGO */
.secaoCatalago {}

.secaoCatalago h2 {}

/* PESQUISA ANIME */
.secaoCatalago__campoPesquisaAnime {}

.secaoCatalago__campoPesquisaAnime input {}

.secaoCatalago__campoPesquisaAnime button {}

/* LISTA DE ANIMES */
.secaoCatalago__listaAnimes {}

.listaAnimes__anime {}

.listaAnimes__anime img {}

.anime__descricaoAnime {}

.anime__descricaoAnime h2 {}

.anime__descricaoAnime p {}

.anime__descricaoAnime a {}

/* SEÇÃO PERSONAGENS */
.secaoPersonagens {}

.secaoPersonagens h2 {}

/* HISTÓRIA DOS PERSONAGENS */
.secaoPersonagens__historiaDosPersonagens {}

.secaoPersonagens__historiaPersonagem {}

/* PERSONAGEM */
.historiaPersonagem__personagem {}

.historiaPersonagem__personagem img {}

/* HISTÓRIA */
.historiaPersonagem__historia {}

.historiaPersonagem__historia h2 {}

.historiaPersonagem__historia p {}

.historiaPersonagem__historia p strong {}

/* RODAPÉ */
.rodape {}

.rodape__listaCreditos {}

.listaCreditos__credito {}

.listaCreditos__credito h3 {}

.listaCreditos__credito a {}

.listaCreditos__credito p {}

.credito__redesSociais {}

.credito__redesSociais a {}

.credito__redesSociais a img {
    width: 10px;
}

.rodape p {}

.rodape p a {}